main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
form {
display: flex;
align-items: center;
justify-content: center;
}

input[type="text"], input[type="submit"] {
height: 2.5rem;
font-size: 1.25rem;
padding: 0 1rem;
}